html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    margin: 20px;
    padding: 00px;
  }
  .footer {
    max-width: 1000px;
    margin: 0 auto;
  }
  .footer__link {
    color: rgb(36, 8, 196);
    font-size: 16px;
  }
  .main-2 {
    max-width: 1000px;
    margin: auto;
  }
  .navigation {
  }
  .navigation__position {
    background-color: whitesmoke;
    border: 3px solid black;
    color: rgb(6, 35, 51);
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
  }
  .page3 {
      background-image: url(img/background.jpg);
      min-height: 600px;
      background-position: center center;
      background-size: cover;
  }
  .flex {
      justify-content: space-around;
      width: 100%;
      display: flex;
  }
  .flex__item {
      border: 3px solid black;
      border-radius: 20px;
      flex-direction: row;
      background: white;
      color: black;
      font-size: 25px;
      font-weight: bold;
      margin: 20px;
      padding: 25px;
      text-align: center; 
  }
    .flex__item--text {
    text-decoration: none;   
}
.title {
    margin: auto;
    width: 50%;
    border-radius: 30px;

}
