body {
    background-color: rgb(226, 202, 170);
}
section {
    background-color: whitesmoke;
}
h1 {
    color:rgb(128, 51, 0);
}
p {
    color:#4f86ce;
 }
 h2 {
     color:#30aa6d;
 }
 .point {
     color:rgb(21, 132, 223);
 }
 nav a {
     color: rgb(207, 57, 19);
 }
 .box {
     background:#beb96e;
     display: inline;
 }
 .secondary-box {
     background:#d127ac;
     display: inline;
 }